@page "/classes"
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>Classes</PageTitle>

<h3>Classes</h3>

@if (classes == null)
{
    <p><em>Loading Classes...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Name</th>
                <th>Date And Time</th>
                <th>Instructor(s)</th>
                <th>Member Count</th>
                <th>Customer Count</th>
                <th>Cost Per Member</th>
                <th>Cost Per Customer</th>
                <th>Total Dollars</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var artClass in classes)
            {
                <tr>
                    <td><button class="btn btn-primary" @onclick="() => EditClass(artClass.Id)">Edit</button></td>
                    <td>@artClass.Type.ToString()</td>
                    <td>@artClass.Name</td>
                    <td>@artClass.DateAndTime.ToString()</td>
                    <td>@artClass.GetPrimaryInstructor().Name</td>

                    @if (artClass.Members != null)
                    {
                        <td>@artClass.Members.Count()</td>
                    }

                    @if (artClass.Customers != null)
                    {
                        <td>@artClass.Customers.Count()</td>
                    }
                    
                    <td>@artClass.CostPerMember</td>
                    <td>@artClass.CostPerCustomer</td>
                    <td>@artClass.GetTotalDollars()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ArtClass>? classes;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);

        classes = new List<ArtClass>();

        for (int i = 0; i < 10; i++)
        {
            classes.Add(new ArtClass(Guid.NewGuid(), new ArtClassTestDataLoader()));
        }
    }

    private void EditClass(Guid classId)
    {
        NavigationManager.NavigateTo("classes/" + classId);
    }
}
