@page "/classes/{classId:guid?}"
@rendermode InteractiveServer

<h3>Edit Class</h3>

@if (artClass == null) { throw new InvalidOperationException("Art Class could not be initialized."); }

<EditForm Model="@artClass" OnValidSubmit="Save" OnInvalidSubmit="ShowSubmitError">
    <div class="parent-div">
        <div class="child-div">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="artClass.Name" class="form-control"></InputText>
        </div>
        <div class="child-div" style="width:300px;">
            <label for="desc">Description</label>
            <InputText id="desc" @bind-Value="artClass.Description" class="form-control"></InputText>
        </div>
    </div>

    <div class="parent-div">
        <div class="child-div">
            <label for="dateandtime">Starts</label>
            <InputDate id="dateandtime" Type="InputDateType.DateTimeLocal" @bind-Value="artClass.Start" class="form-control"></InputDate>
        </div>
        <div class="child-div">
            <label for="dateandtime">Ends</label>
            <InputDate id="dateandtime" Type="InputDateType.DateTimeLocal" @bind-Value="artClass.End" class="form-control"></InputDate>
        </div>
    </div>
      
    <div style="width:100px; margin-bottom:10px;">
        <label for="cost">Cost($)</label>
        <InputNumber id="costpercustomer" @bind-Value="artClass.Cost" class="form-control"></InputNumber>
    </div>
    <br />
    <br />

    <div class="parent-div">
        <div class="child-div">
            <label>Instructors</label>
            <ul>
                @if (artClass.Instructors is IEnumerable<Instructor> instructors)
                {
                    @foreach (var instructor in instructors)
                    {
                        <li>@instructor.Name</li>
                    }
                }
            </ul>
            <button class="btn btn-primary" @onclick="EditInstructors">Edit</button>
        </div>
        <div class="child-div">
            <label>Members Signed Up</label>
            <ul>
                @if (artClass.Artists is IEnumerable<Artist> attendees)
                {
                    @foreach (var attendee in attendees)
                    {
                        <li>@attendee.Name</li>
                    }
                }
            </ul>
            <button class="btn btn-primary" @onclick="EditAttendees">Edit</button>
        </div>
        <div class="child-div">
            <label>Materials</label>
            <ul>
                @if (artClass.Materials is IEnumerable<Material> materials)
                {
                    @foreach (var material in materials)
                    {
                        <li>@material.Name : @material.Quantity</li>
                    }
                }
            </ul>
            <button class="btn btn-primary" @onclick="EditMaterials">Edit</button>
        </div>
    </div>
</EditForm>

@code {
    private ArtClass? artClass;

    private string newInstructorName = "";
    private string newMemberName = "";
    private string newCustomerName = "";

    [Parameter]
    public Guid ClassId { get; set; }

    protected override void OnInitialized()
    {
        artClass = new ArtClass(ClassId, new ArtClassTestDataLoader());
    }

    private void Save()
    {

    }

    private void ShowSubmitError()
    {

    }

    private void EditInstructors()
    {

    }

    private void EditAttendees()
    {

    }

    private void EditMaterials()
    {

    }
}
